.App {
  text-align: center;
}

header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header a{
  color: aliceblue;
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
}

header a:hover {
  color: teal;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}
